* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: gray;
    font-family: sans-serif;
    color: white;
}

.bg-black {
    background-color: black;
}

header {
    position: sticky;
    top: 0;
}

.header-logo {
    display: block;
    margin: auto;
    width: 5rem;
}

.nav-link {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav {
    border-top: 3px solid white;
}

.section:not(:first-of-type) {
    margin-top: 1.5rem;
}

.win-ticket-img {
    display: block;
    width: 100%;
}

.win-ticket {
    padding: 1.5rem;
    margin-top: 2rem;
}

form {
    margin-top: 1.5rem;
}

.win-ticket-title {
    font-size: 2rem;
    font-weight: bold;
}

.win-ticket-instruction {
    margin-top: 1rem;
}

.input-email {
    margin-top: 1rem;
    padding: 0.1rem;
}

.input-submit {
    margin-left: 1rem;
    padding: 0.1rem 0.2rem;
}

.feature:not(:first-of-type) {
    margin-top: 0.5rem;
}

.feature {
    padding: 1rem;
}

.feature-img-wrapper {
    height: 18rem;
    padding: 1rem;
}

.feature-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.feature-desc {
    padding: 1rem;
}

.feature-title {
    font-size: 2rem;
    font-weight: bold;
}

.feature-explanation {
    margin-top: 1rem;
}

.news {
    padding: 1rem;
}

.video {
    width: 100%;
}

.bg-brown {
    background-color: brown;
}

.bg-blue {
    background-color:  rgb(50, 17, 121);
}

.bg-yellow {
    background-color: yellow;
}

.bg-crimson {
    background-color: crimson;
}

.border-brown {
    border-color: brown;
}

.border-blue {
    border-color: rgb(50, 17, 121);
}

.border-yellow {
    border-color: yellow
}

.border-crimson {
    border-color: crimson;
}

.pricings {
    padding: 1rem;
}

.animatronic {
    width: 18rem;
    height: 30rem;
    padding: 1rem;
    margin: 0 auto;
    border-width: 0.3rem;
    border-style: solid;
    border-radius: 5px;
}

.animatronic:not(:first-of-type) {
    margin-top: 1rem;
}

.ani-img-wrapper {
    height: 50%;
}

.ani-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ani-name {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.ani-desc {
    height: 30%;
    padding: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

.buy {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

.footer-link {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.copyright {
    border-top: 3px solid white;
}

@media (min-width: 961px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8rem;
    }

    .header-logo {
        margin: 0;
    }

    nav {
        display: flex;
        border-top: none;
    }

    .win-ticket {
        display: grid;
        grid-template-columns: 3fr 7fr;
        margin-top: 5rem;
        padding: 2.5rem;
    }

    form {
        margin: 0;
        padding: 3rem;
    }

    .win-ticket-img {
        height: 100%;
        object-fit: cover;
    }

    .win-ticket-title {
        font-size: 3rem;
    }

    .win-ticket-instruction {
        font-size: 1.25rem;
    }

    .input-email {
        margin-top: 2rem;
        font-size: 1.1rem;
        padding: 0.2rem;
    }

    .input-submit {
        margin-left: 2rem;
        font-size: 1.1rem;
        padding: 0.2rem 0.4rem;
    }

    .section:not(:first-of-type) {
        margin-top: 3rem;
    }

    .feature {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .feature-title {
        font-size: 2.5rem;
    }

    .feature-explanation {
        font-size: 1.2rem;;
        margin-top: 1.5rem;
    }

    .feature-desc {
        padding: 2rem;
        align-self: center;
    }

    .feature {
        padding: 1.5rem;
    }

    .video {
        width: 40%;
        margin: auto;
        display: block;
    }

    .news {
        padding: 2rem;
    }

    .pricings {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .animatronic {
        margin: 0;
    }

    .animatronic:not(:first-of-type){
        margin-top: 0;
    }
    
    footer {
        padding: 3rem;
    }

    .footer-nav {
        display: flex;
        justify-content: flex-end;
    }

    .copyright {
        text-align: right;
        border-top: none;
        margin-top: 1rem;
    }
}